.blog-post-custom {
  margin: 10px;
}
.testimonial-4 .testimonial-pic {
  height: 90px !important;
  width: 90px !important;
}

.testimonial-4 .quote-right {
  height: 0 !important;
}

/*product-detail*/

.dlab-media-custom {
  margin: 3px;
}

.overlay-icon-custom {
  height: auto !important;
}

.product-custom-arrow-prev, .product-custom-arrow-next {
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px!important;
  padding: 0;
  text-align: center;
  width: 40px;
  background-color: #2d3239;
  border-color: #2d3239;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
  border-width: 0;
}

.product-custom-arrow-prev {
  transform: translateY(-50%);
}

.product-custom-arrow-next {
  transform: translate(-150%, -50%);
}

.product-custom-arrow-prev:before, .product-custom-arrow-next:before {
  content: none;
}

.product-custom-arrow-prev:hover, .product-custom-arrow-next:hover {
  color: #fff !important;
}

.item-box {
  margin: 5px;
}

.item-info-in-custom {
  height: auto !important;
}

@media only screen and (max-width: 480px) {
  .testimonial-4 .testimonial-pic {
    height: 80px !important;
    width: 80px !important;
  }
}
