.blog-post-custom {
  margin: 10px;
}
.testimonial-4 .testimonial-pic {
  height: 90px !important;
  width: 90px !important;
}

.testimonial-4 .quote-right {
  height: 0 !important;
}

/*product-detail*/

.dlab-media-custom {
  margin: 3px;
}

.overlay-icon-custom {
  height: auto !important;
}

.product-custom-arrow-prev, .product-custom-arrow-next {
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px!important;
  padding: 0;
  text-align: center;
  width: 40px;
  background-color: #2d3239;
  border-color: #2d3239;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
  border-width: 0;
}

.product-custom-arrow-prev {
  transform: translateY(-50%);
}

.product-custom-arrow-next {
  transform: translate(-150%, -50%);
}

.product-custom-arrow-prev:before, .product-custom-arrow-next:before {
  content: none;
}

.product-custom-arrow-prev:hover, .product-custom-arrow-next:hover {
  color: #fff !important;
}

.item-box {
  margin: 5px;
}

.item-info-in-custom {
  height: auto !important;
}

.dlab-info-custom {
  min-height: 186px;
}

.dlab-tilte-custom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* pagination */
.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

.pagination-wrapper .page-item.active .page-link {
  background-color: #ee3131;
  border-color: #ee3131;
}

.pagination-wrapper ul {
  margin-bottom: 5px;
}
.pagination-wrapper .VuePagination__count {
  text-align: right;
  margin-bottom: 5px;
}

/* table*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f9faf9;
  color: white;
}

table td p {
  margin-bottom: 0;
  line-height: 20px;
}

/* bài viết */

.dlab-post-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro-text-footer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*loading*/
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #616362;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
}

/*product*/
.img-prod-slide {
  height: 500px;
  object-fit: cover;
}
.img-prod-down-slide {
  height: 150px !important;
  object-fit: cover;
}

.img-prod-lg {
  height: 290px;
  object-fit: cover;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 480px) {
  .testimonial-4 .testimonial-pic {
    height: 80px !important;
    width: 80px !important;
  }
}
